.chart-holder{
    border: 1px solid rgb(215, 221, 229);
    border-radius: 5px;
    width: 520px;
    h3{
        margin: 0;
        padding: 5px;
        background-color: rgba(215, 221, 229, 0.5);
        font-family: "Segoe UI Bold", wf_segoe-ui_bold, helvetica, arial, sans-serif;
        font-size: 12px; 
    }
}